table, th, td {
    padding: 5px;
  }

  .table-cls{
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: #c9c9c9;
    border-radius: 2%;
  }

  .edit-cls{
    cursor: pointer;
  }
  .delete-cls{
    cursor: pointer;
  }
  .email-cls{
    color: blue;
  }

  .search-cls{
    display: flex;
    justify-content: center;
    margin: 10px;
  }
  mat-card {
    margin: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24); /* Adjust the shadow properties as per your preference */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth shadow animation */
  }

  mat-card:hover {
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.24); /* Adjust the shadow properties as per your preference */
  }

  .paginator-cls{
    background: antiquewhite;
    border-radius: 4px;
  }